/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SNACK 1 */
#snack-1 {
    text-align: center;
}

/* SNACK 2 */


/* SNACK 3 */
#snack-3 {
    display: flex;
    justify-content: space-around;
}
#snack-3 div:first-child {
    margin: auto 100px;
}
#snack-3 div:last-child {
    margin: auto 100px;
}